@import "mocha.css"; 

* {
  font-family: "JetBrainsMono";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: @surface;
  color: @text;
}

tooltip {
  background: @base;
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
}

#workspaces {
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  background: @surface;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

#workspaces button {
  padding: 5px;
  color: @highlightMed;
  margin-right: 10px;
}

#workspaces button.active {
  color: @lavender;
}

#workspaces button.focused {
  color: @subtle;
  background: @love;
  border-radius: 8px;
}

#workspaces button.urgent {
  color: @base;
  background: @pine;
  border-radius: 8px;
}

#workspaces button:hover {
  background: @highlightLow;
  color: @text;
  border-radius: 8px;
}

#window {
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

#custom-power_profile,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#memory,
#backlight {
 /* background: @surface; */
 /* opacity: 0.9; */
 /* padding: 10px 10px; */
 /* margin: 10px 10px; */
 /* margin-top: 10px; */
 /* border: 2px solid @maroon; */
}

#memory {
  color: @lavender;
}

#temperature {
  color: @gold;
  border-left: 0px;
  border-right: 0px;
}

#temperature.critical {
  border-left: 0px;
  border-right: 0px;
  color: @love;
}

#backlight {
  color: @text;
  border-radius: 0px 8px 8px 0px;
  margin-right: 20px;
}

#tray{
 margin: 4px;
 color: @text;
 padding: 3px 8px;
 background-color: @lavender;
 transition: all 200ms ease-in-out;
 border-radius: 1.5em;
 /* border-radius: 8px; */
 /* margin-left: 10px; */
 /* margin-right: 10px; */
}

#custom-power_profile {
  color: @foam;
  border-left: 0px;
  border-right: 0px;
}

window#waybar.empty {
  background-color: transparent;
}

window#waybar.empty #window {
  padding: 0px;
  margin: 0px;
  border: 0px;
  /*  background-color: rgba(66,66,66,0.5); */
  /* transparent */
  background-color: transparent;
}

#clock {
  color: @text;
  background: @pine;
  border-radius: 8px;
  margin-left: 20px;
}

#network {
  color: @love;
/*  border-radius: 0px 0px 0px 0px; */
  border-right: 0px;
  border-left: 0px;
  padding-right: 15px;
}

#pulseaudio {
  color: @text;
/*  border-radius: 8px 0px 0px 8px; */
/*  border-right: 0px; */
}

#battery {
  color: @foam;
  border-radius: 0 8px 8px 0;
  margin-right: 0px;
  border-left: 0px;
  padding-right: 15px;
}

#tray {
/*  border-radius: 8px 0px 0px 8px; */
  border-right: 0px;
  margin-right: 0px;
  color: @text;
/*  background: @pine; */
}

