@import "mocha.css"; 

* {
  font-family: "JetBrainsMono";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: @surface;
  color: @text;
}

tooltip {
  background: @base;
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
}

#workspaces {
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  background: @surface;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

#workspaces button {
  padding: 5px;
  color: @highlightMed;
  margin-right: 10px;
}

#workspaces button.active {
  color: @lavender;
}

#workspaces button.focused {
/*  color: @subtle; */
/*  background: @love; */
/*  border-radius: 8px; */
}

#workspaces button.urgent {
  color: @base;
  background: @pine;
  border-radius: 8px;
}

#workspaces button:hover {
  color: @rosewater;
}

#window {
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

#tray{
 margin: 4px;
 color: @text;
 padding: 3px 8px;
 background-color: @lavender;
 transition: all 200ms ease-in-out;
 border-radius: 1em;
 margin-right: 10px;
}

#network {
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  border-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

pulseaudio {
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  border-left: 0px;
  border-right: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

#memory {
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  border-left: 0px;
  border-right: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

#battery {
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  border-left: 0px;
  border-right: 0px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 0 18px 18px 0;
}

#clock {
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-left: 0px;
  border-radius: 0 8px 8px 0;
}
