@import "mocha.css"; 

* {
  font-family: "JetBrainsMono";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: @surface;
  color: @text;
}

tooltip {
  background: @base;
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
}

#workspaces {
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  background: @surface;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

#workspaces button {
  padding: 5px;
  color: @highlightMed;
  margin-right: 10px;
}

#workspaces button.active {
  color: @lavender;
}

#workspaces button.focused {
  color: @lavender;
}

#workspaces button.urgent {
  color: @pink;
  background: @pine;
}

#workspaces button:hover {
  color: @flamingo;
}

#window {
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

#tray{
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 10px;
  padding-left: 10px;
  transition: all 200ms ease-in-out;
}

#tray > .passive {
  -gtk-icon-effect: dim; 
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight; 
}

#pulseaudio {
  border-radius: 12px 0 0 12px;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  border-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#memory {
  border-radius: 0 0 0 0;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  border-left: 0px;
  border-right: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

#battery {
  border-radius: 0 0 0 0;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  border-left: 0px;
  border-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#idle_inhibitor {
  color: @red;
  border-radius: 0 0 0 0;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  border-left: 0px;
  border-right: 0px;
  padding-left: 10px;
  padding-right: 0px;
}

#idle_inhibitor.deactivated {
  color: @text;
}

#custom-notifications {
  border-radius: 0 0 0 0;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  border-left: 0px;
  border-right: 0px;
  padding-left: 0px;
  padding-right: 10px;
}

#custom-power {
  color: @text;
  border-radius: 0 0 0 0;
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  border-left: 0px;
  border-right: 0px;
  padding-left: 10px;
  padding-right: 0px;
}

#custom-power:hover {
  color: @red;
}

#clock {
  border-width: 3px;
  border-style: solid;
  border-color: @lavender;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 10px;
  border-left: 0px;
  border-radius: 0 12px 12px 0;
}
